<!DOCTYPE html>
<html>
<head>
  <title>Games On Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1><a href="/">Games on Rails</a></h1>
  <nav>
    <a href="/games/magic_8_ball">Magic 8 ball</a> |
    <a href="/games/secret_number">Secret Number</a> |
    <a href="/games/rock_paper_scissors">Rock Paper Scissors</a>
  </nav>
  <hr />
  <%= yield %>
  <hr />
</body>
</html>
