<form action= "/display" method="GET">

  <label>What is your movie</label>
  <input type="text" name="movie" placeholder="First number">
  <br>

  <br>
  <input type="submit" value="find movie">

</form>
