body {
  background-color: hotpink;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/74/a2/2c/74a22c55160146b54e6259901eda61b3.gif");
  background-size: cover;
  text-align: center;
  font-family: monospace;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 35%;
  padding: 30px;
  margin: 40vh auto;
}

h1 {
  color: white;
}

button {
  border-style: none;
  background-color: yellow;
}

button:hover {
  font-style: normal;
  text-transform: uppercase;
  background-color: hotpink;
}

#movies {
  color: white;
}
