<h3>this will be a magic 8-ball game</h3>

<form action="/games/magic/answer" method="GET">
    <!-- p*5>label+input -->
    <p>
        <label>Question:</label>
        <input type="text" placeholder="Enter Question." name="question">
        <input type="submit" value="Get Answer">
    </p>

</form>
