<h3>Add a new dive post</h3>

<form action="/dives" method="POST">
    <p>
        <label for="">Locations</label>
        <input type="text" name="location" placeholder="Locations">
    </p>
    <p>
        <label for="">Photographer</label>
        <input type="text" name="photographer" placeholder="Photographer">
    </p>
    <p>
        <label for="">Description</label>
        <input type="text" name="description" placeholder="Description">
    </p>
    <p>
        <label for="">Image</label>
        <input type="text" name="image" placeholder="Image">
    </p>
    <input type="submit" value="Post">
</form>
