<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Static TV</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="body"></div>
            <h1>My Dive Blog</h1>
            <br>
            <nav>
                <a href="/">Home</a>
                |
                <a href="/about">About</a>
                |
                <a href="/dives">Dive Photos</a>
                |
                <a href="/dives/new">New Post</a>
            </nav>
            <hr>
            <div class="yield">
                <%= yield %>
            </div>
            <hr>
            <footer></footer>
    </body>
</html>
