<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>All wines</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">home</a>
    <a href="/wines">wines</a>
    <a href="/wines_add">add wines</a>
  </nav>

  <h1>All wine in the pantry</h1>



<hr>
<%= yield %>
<hr>


<footer>footer footer footer footer footer footer</footer>
</body>
</html>
