
<!-- <%= image_tag("magic_ball.jpg", :alt => "magic ball") %> -->

<form>
  <p><label>Ask me something!</label></p>
  <input type="text" value="">
  <input type="submit" value="Ask">
</form>

<!-- <h3>Magic Ball tells ..</h3> -->

  <p>
    <%= @sentence%>
  </p>
