<h3>See Your Destiny Below</h3>

<p> <%= @destiny %>. <br>
  Great Question! <br>
  
  Unfortunately the truth is that won't matter.
  As you're going to die a terrible, terrible death!

  Sorry...
</p>
