<h3>Can a Browser Really Tell You Your Destiny?</h3>
<h3>Yes It Can...</h3>
<br>
<p>Enter your question in the browser.. eg localhost:3000/what-does-my-future-hold?</p>
<img src="http://media.gettyimages.com/photos/businessman-with-red-tie-consulting-crystal-ball-picture-id157565496?s=170667a">
