<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Database</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <a href="/home">Home Page</a>
    <a href="/search">Seach Movies</a>
    <a href="/contact">Contact Us</a>
    <a href="/wolves">Wolf Pack</a>
  </nav>

  <hr>
  <div class="container">
    <%= yield %>
  </div>
  <hr>

  <footer></footer>
</body>
</html>
