<h2>movie search</h2>

<form action="/filmography" method="GET">
  <p>
    <label>What movie would you like to see?</label>
    <input type="text" name="movie_search" placeholder="which movie?">
  </p>
  <input type="submit" value="Search Movie">
</form>
