* {
  box-sizing: border-box;
}
body {
  /*background-color: rgb(0, 255, 0);*/
  background-size: cover;
  font-family: monospace;
  margin: 0 auto;
  text-align: center;
}
.body {
  width: 100%;
  height: 100%;
  background-image: url(ocean-background.jpg);
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  position: absolute;
}
h1 {
  font-size: 40px;
  font-weight: bold;
  opacity: 1;
  margin: 0 auto;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}
img {
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
}

a {
  text-decoration: none;
  color: darkblue;
}

.container {
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
}

.columns {
  width: 48%;
  height: 50vh;
  max-width: 500px;
  padding: 1%;
  display: inline-block;
  vertical-align: middle;
}

p {
  font-size: 17px;
}

li {
  list-style: none;
}

.yield {
  min-height: 500px;
}
