<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IMDB Replica</title>
</head>
<body>

  <!-- Header part for navigation -->
  <header>
    <div>
      <ul>
        <li><a href="/search">Search movies...</a></li>
      </ul>
    </div>
  </header>

  <content>
    <%= yield %>
  </content>

  <footer>Copyrighted to none</footer>
</body>
</html>
