<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IMDB Replica</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <!-- Header part for navigation -->
  <header>
    <div>
      <a href="/">Home</a> |
      <a href="/about">About</a> |
      <a href="/search">Search movies...</a> |
      <a href="/contact_us">Contact Us</a>
    </div>
  </header>

  <h1>The Replica of IMDB</h1>

  <content>
    <%= yield %>
  </content>

  <br />
  <footer>&copy; Copyrighted to none</footer>
</body>
</html>
