

<form action="/results" method="GET">

  <p>
    <label>Type name of the movie</label>
  </p>

  <p>
    <input type="text" name="movie" value="">
  </p>

<p>
  <input type="submit" value="search">
</p>

</form>
