<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mountains Around The Globe</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Mountains Around The Globe</h1>
  <ul>
    <li><a href="/">Home</a> |</li>
    <li><a href="/about">About</a> |</li>
    <li><a href="/mountains">The Mountains</a> |</li>
    <li><a href="/mountains/new">Got new mountains?</a></li>
  </ul>

  <hr />
  <%= yield %>
  <hr />

  <footer>&copy; Curation of Lady Stone</footer>

</body>
</html>
