<!DOCTYPE html>
<html>
<head>
  <title>Flickr Lab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Flickr Lab</h1>

  <%= yield %>

</body>
</html>
