<h3>This is where mountains are Edited</h3>

<form action="/mountains/<%= @id %>" method ="POST">

<p>
  <label for="">Name</label>
  <input type="text" placeholder="Name" name="name">
</p>
<p>
  <label for="">Height</label>
  <input type="text" placeholder="Height" name="height">
</p>
<p>
  <label for="">Description</label>
  <input type="text" placeholder="Description" name="description">
</p>
  <input type="submit" value="Edit that mountain">

</form>
