// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail {
  width: 170px;
  height: 140px;
  margin: 5px;
  border: 2px outset rgba(0,0,255,0.6);
  border-radius: 5px;
}

.mainpic {
  min-width: 400px;
  max-width: 700px;
  min-height: 400px;
  max-height: 700px;
  border: 4px outset rgba(0,0,255,0.2);
  border-radius: 30px;
}
