body {
  background-color: rgba(230, 230, 255, 0.4);
  font-family: monospace;
  text-align: center;
  margin: 0 auto;
}

a{
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 20px;
}

.container {
  width: 800px;
  height: 600px;
  border: 2px outlet grey;
  margin: 0 auto;
}

img {
  height: 400px;
  width: 400px;
}
