<form action="/games/magic_8_ball/answer" method="GET">
    <p>
        <label>Question: </label>
        <br />
        <textarea name="question" rows="4" col="100" placeholder="What is your concern?"></textarea>
    </p>
    <button type="submit">Get fortunate</button>
</form>
