<h2>Just choose one and you know how this works.</h2>
<form action="/games/rock_paper_scissors/input" method="GET">
  <input type="radio" value="rock" checked name="user_choice" /> Rock <br />
  <input type="radio" value="paper" name="user_choice"/> Paper <br />
  <input type="radio" value="scissors" name="user_choice"/> Scissors <br />
  <input type="submit" value="Get result">
</form>
