<h2>Which is your pick?</h2>
<form action="/games/secret_number/result">
  <input type="submit" value="1" name="user_pick">
  <input type="submit" value="2" name="user_pick">
  <input type="submit" value="3" name="user_pick">
  <input type="submit" value="4" name="user_pick">
  <input type="submit" value="5" name="user_pick">
  <input type="submit" value="6" name="user_pick">
  <input type="submit" value="7" name="user_pick">
  <input type="submit" value="8" name="user_pick">
  <input type="submit" value="9" name="user_pick">
  <input type="submit" value="10" name="user_pick">
</form>
