<h3>This is the Search page</h3>

<form action="/movie" method="GET">

<p>
  <label>What movie would you like to search for?</label>
  <br>
  <input type="text" name="title" placeholder="Movie Title">
</p>

<input type="submit" value="Search movie titles">
